html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  width: 100%;
}

.app-header {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header > div {
  margin-left: auto !important;
  margin-right: auto !important;
}

.app-header a {
  text-decoration: underline;
}

.app-header a:hover {
  color: #5fb0cc;
}

.app-body {
  padding-top: 20px;
}

.form-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #add8e6;
  border-radius: 10px;
  background-color: #f0f8ff;
}

form input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #add8e6;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #add8e6;
}

li:last-child {
  border-bottom: none;
}

.campaign-details {
  display: block;
  overflow: auto;
  padding: 25px 10px 0px;
}

.campaign-action {
  padding: 25px 10px 0px;
  margin: 0px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #add8e6;
  border-radius: 10px;
}

.campaign-action button,
.campaign-action input {
  margin: 10px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.total-donated {
  font-size: 28px;
  font-weight: bold;
}

.paddingTop {
  padding-top: 20px;
}
